<html lang="en">
  <head>
    <title>Whatsapp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Whatsapp" />
    <meta name="keywords" content="Whatsapp" />
    <meta name="author" content="Whatsapp" />
    <link rel="stylesheet" type="text/css" href="/socket-agent/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/socket-agent/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/socket-agent/css/style-whatsapp.css">
  </head>
  <body>
    <div class="container app">
      <div class="row app-one">
        <div class="col-sm-4 side">
          <div class="side-one">
            <div class="row heading">
              <div class="col-sm-3 col-xs-3 heading-avatar">
                <div class="heading-avatar-icon">
                  <img src="/socket-agent/img/bjtech.png">
                </div>
              </div>
              <div class="col-sm-1 col-xs-1 heading-dot pull-right">
                <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
              </div>
              <div class="col-sm-2 col-xs-2 heading-compose pull-right">
                <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
              </div>
            </div>
            <div class="row searchbox">
              <div class="col-sm-12 searchbox-inner">
                <div class="form-group has-feedback">
                  <input id="searchtext" type="text" class="form-control" name="searchtext" placeholder="Search">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>
            </div>

            <!-- ini untuk div list customer -->

            <div class="row sidebararea" id="sidebararea">
              
            </div>
            <!-- --------------------------- -->
          </div>
          
        </div>
        <div class="col-sm-8 conversation">
          <div class="row heading">
            <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
              <div class="heading-avatar-icon">
                <img src="/socket-agent/img/avatar.png">
              </div>
            </div>
            <div class="col-sm-8 col-xs-7 heading-name">
              <a class="heading-name-meta">Dea
              </a>
              <span class="heading-online">Online</span>
            </div>
            <div class="col-sm-1 col-xs-1 heading-dot pull-right">
              <i class="fa fa-ellipsis-v fa-2x pull-right" aria-hidden="true"></i>
            </div>
          </div>
          <div class="row message" id="conversation">
            <div class="row message-body">
              <div class="col-sm-12 message-main-receiver">
                <div class="receiver">
                  <div class="message-text">
                    Hi, apa kabar?
                  </div>
                  <span class="message-time pull-right">
                    Sun
                  </span>
                </div>
              </div>
            </div>
            <div class="row message-body">
              <div class="col-sm-12 message-main-sender">
                <div class="sender">
                  <div class="message-text">
                    Terima kasih, Saya baik-baik saja
                  </div>
                  <span class="message-time pull-right">
                    Sun
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row reply">
            <div class="col-sm-1 col-xs-1 reply-emojis">
              <i class="fa fa-smile-o fa-2x"></i>
            </div>
            <div class="col-sm-9 col-xs-9 reply-main">
              <textarea class="form-control" rows="1"></textarea>
            </div>
            <div class="col-sm-1 col-xs-1 reply-recording">
              <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-sm-1 col-xs-1 reply-send">
              <i class="fa fa-send fa-2x" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/socket-agent/js/jquery.min.js"></script>
    <script type="text/javascript" src="/socket-agent/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket-agent/bca/js/socket.io.js"></script>
    <script type="text/javascript" src="/socket-agent/js/main.js"></script>
  </body>
</html>